#!/bin/bash
# Title:      Service rclone para o gdrive
# Authors:    Holtzmann
# URL:        http://luitech.com.br
################################################################################
[Unit]
Description=gdrive Daemon
After=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount gdrive: /mnt/gdrive \
--log-file=/mnt/logs/rclone-gdrive.log \
--log-level NOTICE \
--uid=1000 --gid=1000 --umask=002 \
--allow-other \
--dir-cache-time 24h \
--tpslimit 10 \
--user-agent HoltzFlix \
--drive-skip-gdocs \
--poll-interval=15s \
--vfs-cache-mode full \
--cache-dir=/mnt/cache \
--vfs-read-ahead=8M \
--vfs-cache-poll-interval=1m \
--vfs-cache-max-age 720h \
--vfs-cache-max-size 50G \
--vfs-read-chunk-size 16M \
--vfs-read-chunk-size-limit 64M \
--buffer-size=8M \
--use-mmap \
--vfs-case-insensitive
ExecStop=/bin/fusermount -uz /mnt/gdrive > /dev/null
TimeoutSec=60
User=1000
Group=1000

[Install]
WantedBy=multi-user.target